.trComplete{
    text-decoration: line-through;
}
.testgrid td{
    min-width: 50px;
}
.label-search{
    cursor:pointer;
}
.btnComplete:hover{
    background-color: #0b0;
}
.btnDelete:hover{
    background-color: #d00;
}