.trComplete {
    text-decoration: line-through;
}

.testgrid td {
    min-width: 50px;
}

.editablegrid-action {
    min-width: 75px;
}

.label-search {
    cursor: pointer;
}

.btnComplete:hover {
    background-color: #0b0;
}

.btnDelete:hover {
    background-color: #d00;
}

#gridList table {
    border-collapse: collapse;
    border: 1px solid black;
}

#gridList table td,
#gridList table th {
    border: 1px solid black;
}

#gridList tr:hover td {
    background: #ddd
}

#gridList tr.selected td {
    background: #D8C549
}